.card-width {
    min-width: 300px;
}

.item-list {
    max-height: 500px;
    overflow: auto;
}

.inventory-card {
    flex: 1 0 auto;
    overflow: hidden;
}

.list-item {
    padding: 3%;
    border-radius: 10px;
    margin-bottom: 1%;
}

.list-item:hover {
    cursor: pointer;
}

body.modal-open {
    overflow: hidden;
}

input {
    background-color: #f4f4f4;
}
.form-control {
    background-color: #f4f4f4;    
}
.btn-primary {
    background-color: #9FB080;
    border-color: #9FB080;
}
.btn-primary:hover {
    background-color: #597A61;
}
.btn-danger {
    background-color: #CE675B;
}